.hero-teacher {
  padding-top: 80px;
  // padding-top: 70px;
  padding-bottom: 70px;
}

.hero-student {
  padding-top: 170px;
  // padding-top: 70px;
  padding-bottom: 70px;
}

.hero-parent {
  padding-top: 160px;
  // padding-top: 70px;
  padding-bottom: 70px;
}

@media screen and (max-width: "991px") {
  .hero-student {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-teacher {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-parent {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
