// @import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

// Import font style
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");

// Primary color
$primary: #e5f8ff;
$blue: #2b4da2;
$dark-blue: #405272;

*,
body {
  font-family: Manrope;
}

// Background
.bg-soft-blue {
  background-color: $primary;
}
.bg-soft-grey {
  background-color: #f5f5f5;
}
.bg-white {
  background-color: #fff !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-dark-blue {
  background-color: $dark-blue !important;
}
.bg-pink {
  background-color: #fff0e6;
}

// Text
.text-blue {
  color: $blue !important;
}

// Button
.btn-white {
  background-color: #fff !important;
}
.btn-outline-white {
  background-color: #fff !important;
  border: 1px solid rgb(202, 202, 202) !important;
}
.btn-outline-blue {
  font-weight: 600 !important;
  border: 1px solid $blue !important;
  background-color: #f7f7f7 !important;
  color: $blue !important;
}
.btn-outline-blue:hover {
  background-color: $blue !important;
  color: white !important;
}
.btn-orange {
  background-color: #f1883c !important;
  color: #fff !important;
}

.mt-n2 {
  margin-top: -0.5rem !important;
}

.mt-n3 {
  margin-top: -0.75rem !important;
}

.mt-n4 {
  margin-top: -1rem !important;
}

#catalog {
  .filter-type {
    width: 100% !important;
  }
  @media screen and (min-width: 768px) {
    .filter-type {
      width: 40% !important;
    }
  }
}

#typeCatalogue {
  .card-type {
    border-radius: 10px;
  }
  .active-type-catalogue {
    border: 2px solid orange !important;
    // border: 2px solid red !important;
  }
}

#navbar {
  // background-color: $primary;
  .nav-logo {
    width: 230px;
    height: auto;
  }
  .dropdown-desktop {
    display: none;
  }
  @media screen and (min-width: 992px) {
    .dropdown-mobile {
      display: none;
    }
    .dropdown-desktop {
      display: block;
    }
    .dropdown:hover .dropdown-menu:not(.profile) {
      display: block !important;
    }
  }
}

#login {
  background: url("../../public/assets/image/login/background.png");
  background-color: $primary !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 80px !important;
  .active {
    color: red !important;
  }
}

#register {
  background: url("../../public/assets/image/login/background.png");
  background-color: $primary !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 80px !important;

  .active {
    color: red !important;
  }
}

.fade-enter {
  opacity: 1;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateX(20px);
  transition: all 0.5s;
  // transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 0;
  transform: translateX(20px);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.5s;
  // transition: opacity 250ms ease-out, transform 300ms ease;
}

#audioPlayer {
  .nav {
    border: 0;
    .active {
      font-weight: 600;
      color: $blue !important;
      border: 0;
    }
    .nav-link {
      border: 0;
    }
  }
}
